header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 48px;
    border: 1px solid red;
}

header .simbol{
    margin: 0 40px 0 0;
}

header .simbol a{
    
}

header .simbol a img{
    
}

header .list{
    display: flex;
}

header .list .login{
    display: flex;
    align-items: center;
    padding-left: 24px;
    cursor: pointer;
}

header .list a:hover img{
    content: url('images/ic-navigat-4a0632b7.svg');
}

header .list .login:hover img{
    font-size: 20px;
    content: url('images/icon-user-active.svg');
}

header .list .login span{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
}
header .list .login span img{
    margin-right: 2px;
}